/* .body {
        background-image: url('../image/singlemingle.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 600px;
      } */